registry=https://registry.npmmirror.com/
node-linker=hoisted
symlink=true
public-hoist-pattern[]=*@heroui/react*
public-hoist-pattern[]=*framer-motion*
public-hoist-pattern[]=*next*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*react-dom*
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true 